    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        font-size: 62.5%;
    }
    section {
        height: 400px;
        padding-top: 200px;
        margin-top: 200px;
    }
    header {
        height: 450px;

        padding-top: 130px;

    }
    body {
        background-color: #2b2d42;
    }
    h1 {
        font-family: HelveticaNeue-Medium;
        font-size: 5em;
        color: #1CBF9C;
        text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.50);
        text-align: center;
        font-weight: normal;
    }
    h2 {
        /* Himanshu Chauhan: */
        font-family: HelveticaNeue-thin;
        font-size: 5em;
        font-weight: normal;
        color: #fcfcfd;
        text-align: center;
    }
    h4 {
        /* Designer//Developer/: */
        font-family: HelveticaNeue-UltraLight;
        font-size: 3em;
        color: #fcfcfd;
        text-align: center;
        font-weight: normal;
    }
    .abt {
        position: absolute;
        width: 50%;
        height: 70%;
        margin-left: 53%;
        margin-top: 100px;
    }
    p {
        font-family: HelveticaNeue-UltraLight;
        font-size: 2.5em;
        color: #707891;
        text-align: left;
    }
    footer {
        height: 550px;
        margin-top: 100px;
    }
    .view {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .white {
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
        background-color: #fcfcfd
    }
    .green {
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.50);
        background: rgba(21, 193, 156, 0.95)
    }
    #rwd {
        width: 80%;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .contacth1>h1 {
        color: #fcfcfd;
    }
    .portfolioh1>h1 {
        color: #fcfcfd;
    }
    header>.base {
        position: relative;
        margin-top: 100px;
        height: 270px;
        width: 60vw;
    }
    header>.base>.top {
        width: 60vw;
        position: absolute;
        height: 100%;
        margin-left: 30vw;
        margin-top: 135px;
    }
    .logo {
        position: absolute;
        width: 30vw;
        margin-top: -105px;
        margin-left: 3%;
    }
    .about>.base {
        position: relative;
        height: 370px;
        width: 60vw;
        margin-left: 30vw;
    }
    .about>.base>.top {
        position: absolute;
        height: 70%;
        width: 60vw;
        margin-top: 80px;
        margin-left: -50%;
    }
    .abouth1 {
        position: absolute;
        width: 50%;
        margin-left: 28%;
        margin-right: 22%;
        margin-top: 8px;
    }
    .portfolio>.base {
        position: relative;
        height: 370px;
        width: 60vw;
        margin-right: 30vw;
    }
    .portfolio>.base>.top {
        position: absolute;
        height: 70%;
        width: 60vw;
        margin-top: 80px;
        margin-left: 50%;
    }
    .portfolioh1 {
        position: absolute;
        margin-top: 8px;
        margin-left: 25%;
        width: 50%;
    }
    .skills {
        height: 450px;
    }
    .skills>.base {
        height: 370px;
    }
    .skillsh1 {
        position: absolute;
        margin-top: -70px;
        margin-left: 40%;
        margin-right: 35%;
        width: 20%;
    }
    .foot {
        background-color: #15c19c;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.50);
        position: absolute;
        height: 450px;
        margin-top: 180px;
        width: 100%;
    }
    .contacth1 {
        margin-top: -65px;
    }
    .icon {
        color: #15c19c;

        font-size: 80px;
    }
    h3 {
        font: HelveticaNeue-Italic;
        color: #707891;
        font-size: 3em;
        text-align: center;
        font-weight: normal;

    }
    .skillDiv {
        text-align: center;
        width: 20%;
        height: 50%;
        float: left;
    }
    .svg {
        height: 80px;
        filter:
    }
    a {
        text-decoration: none;
        color: #15c19c;
    }
    .followme{
        margin-left: 20%;
        margin-top: 100px;
        margin-right: 20%;
        width: 60%;
        height: 100px;
    }
    .social {
        color: #fcfcfd;
        float: left;
        margin: 10px;
        padding: 50px;
    }
#fcc{

    width: 190px;
padding: 40px;
}




    .typed-cursor {
        color: #333;
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .container,
    .content-wrap {
    	overflow: hidden;
    	width: 100%;
    	height: 100%;
    }



    .menu-wrap a {
    	color: #555d7c;
    }

    .menu-wrap a:hover,
    .menu-wrap a:focus {
    	color: #2b2d42;
    }

    .content-wrap {
    	overflow-y: scroll;
    	-webkit-overflow-scrolling: touch;
    	-webkit-transition: -webkit-transform 0.4s;
    	transition: transform 0.4s;
    	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }


    /* Common styles for menu button and menu-wrap */
    .menu-button,
    .menu-wrap {

        position: fixed;

    	background-color: #fcfcfd;
    	width: 2.5em;
    	height: 2.25em;
    	font-size: 2.4em;
    	-webkit-transform: translate3d(1.5em,1.5em,0);
    	transform: translate3d(1.5em,1.5em,0);
    }

    /* Menu Button */
    .menu-button {
    	z-index: 1000;
    	margin: 0;
    	padding: 0;
    	border: none;
    	text-indent: 2.5em;
    	color: transparent;
    	background: #2b2d42;
    }

    .menu-button::before {
    	position: absolute;
    	top: 0.5em;
    	right: 0.5em;
    	bottom: 0.5em;
    	left: 0.5em;
    	background: linear-gradient(#fcfcfd 20%, transparent 20%, transparent 40%, #fcfcfd 40%, #fcfcfd 60%, transparent 60%, transparent 80%, #fcfcfd 80%);
    	content: '';
    }

    .menu-button:hover {
    	opacity: 0.9;
    }

    /* Menu */
    .menu-wrap {
    	z-index: 999;
    	/*background: #8a92b3;*/
    	-webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.4s;
    	transition: width 0.4s, height 0.4s, transform 0.4s;
    	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }

    .menu {
    	height: 100%;
    	overflow: hidden;
    	font-size: 0.75em;
    	background-color: #fcfcfd;;
    }

    .icon-list {
    	float: right;
    	padding: 2.5em 2em 0 6em;
    }

    .icon-list a {
    	opacity: 0;
    	display: inline-block;
    	padding: 0 0.2em;
    	margin: 0 15px;
    	text-align: center;
    	font-size: 1.2em;
    }

    .icon-list a span {
    	display: block;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	font-size: 0.5em;
    	font-weight: 700;
    	padding-top: 0.5em;
    }

    @media screen and (max-width: 50em) {
    	.icon-list a {
    		padding: 0.5em 0em;
    		margin: 0 5px;
    		font-size: 1em;
    	}
    	.icon-list a span {
    		display: none;
    	}
    }

    /* Shown menu */
    .show-menu .menu-button{
    	background-color: #fcfcfd;
    }

    .show-menu .menu-button::before {

    	background: linear-gradient(#2b2d42 20%, transparent 20%, transparent 40%, #2b2d42 40%, #2b2d42 60%, transparent 60%, transparent 80%, #2b2d42 80%);
    	content: '';
    }

    .show-menu .content-wrap {
    	-webkit-transition-delay: 0s;
    	transition-delay: 0s;
    	-webkit-transform: translate3d(0,125px,0);
    	transform: translate3d(0,125px,0);
    }

    .show-menu .menu-wrap {
    	width: 100%;
    	height: 125px;
    	-webkit-transform: translate3d(0,0,0);
    	transform: translate3d(0,0,0);
    	-webkit-transition-delay: 0s;
    	transition-delay: 0s;
    }

    .show-menu .icon-list a {
    	opacity: 1;
    	-webkit-transition: opacity 0.4s 0.4s;
    	transition: opacity 0.4s 0.4s;
    }

    .show-menu .icon-list a:nth-child(2) {
    	-webkit-transition-delay: 0.42s;
    	transition-delay: 0.42s;
    }

    .show-menu .icon-list a:nth-child(3) {
    	-webkit-transition-delay: 0.44s;
    	transition-delay: 0.44s;
    }

    .show-menu .icon-list a:nth-child(4) {
    	-webkit-transition-delay: 0.46s;
    	transition-delay: 0.46s;
    }

    .show-menu .icon-list a:nth-child(5) {
    	-webkit-transition-delay: 0.48s;
    	transition-delay: 0.48s;
    }

    .show-menu .icon-list a:nth-child(6) {
    	-webkit-transition-delay: 0.5s;
    	transition-delay: 0.5s;
    }
