    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        font-size: 62.5%;
    }
    section {
        height: 400px;
        margin-top: 200px;
    }
    header {
        height: 450px;
        margin-top: 150px;
    }
    body {
        background-color: #2b2d42;
    }
    h1 {
        font-family: ArialRoundedMTBold;
        font-size: 5em;
        color: #1CBF9C;
        text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.50);
        text-align: center;
    }
    h2 {
        /* Himanshu Chauhan: */
        font-family: Helvetica-light;
        font-size: 6em;
        color: #fcfcfd;
        text-align: center;
    }
    h4 {
        /* Designer//Developer/: */
        font-family: helvetica-Italic;
        font-size: 3em;
        color: #fcfcfd;
        text-align: center;
    }
    .abt {
        position: absolute;
        width: 50%;
        height: 70%;
        margin-left: 50%;
        margin-top: 80px;
    }
    p {
        /* Lorem ipsum dolor si: */
        margin-top: 75px;
        font-family: Athelas-Italic;
        font-size: 2.5em;
        color: #707891;
        text-align: center;
    }
    footer {
        height: 550px;
        margin-top: 100px;
    }
    .view {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .white {
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
        background-color: #fcfcfd
    }
    .green {
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.50);
        background: rgba(21, 193, 156, 0.95)
    }
    #rwd {
        width: 80%;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .contacth1>h1 {
        color: #fcfcfd;
    }
    .portfolioh1>h1 {
        color: #fcfcfd;
    }
    header>.base {
        position: relative;
        margin-top: 100px;
        height: 270px;
        width: 60vw;
    }
    header>.base>.top {
        width: 60vw;
        position: absolute;
        height: 100%;
        margin-left: 30vw;
        margin-top: 135px;
    }
    .logo {
        position: absolute;
        width: 30vw;
        margin-top: -105px;
        margin-left: 3%;
    }
    .about>.base {
        position: relative;
        height: 370px;
        width: 60vw;
        margin-left: 30vw;
    }
    .about>.base>.top {
        position: absolute;
        height: 70%;
        width: 60vw;
        margin-top: 80px;
        margin-left: -50%;
    }
    .abouth1 {
        position: absolute;
        width: 50%;
        margin-left: 28%;
        margin-right: 22%;
        margin-top: 8px;
    }
    .portfolio>.base {
        position: relative;
        height: 370px;
        width: 60vw;
        margin-right: 30vw;
    }
    .portfolio>.base>.top {
        position: absolute;
        height: 70%;
        width: 60vw;
        margin-top: 80px;
        margin-left: 50%;
    }
    .portfolioh1 {
        position: absolute;
        margin-top: 8px;
        margin-left: 25%;
        width: 50%;
    }
    .skills {
        height: 450px;
    }
    .skills>.base {
        height: 370px;
    }
    .skillsh1 {
        position: absolute;
        margin-top: -65px;
        margin-left: 35%;
        margin-right: 35%;
        width: 20%;
    }
    .foot {
        background-color: #15c19c;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.50);
        position: absolute;
        height: 450px;
        margin-top: 180px;
        width: 100%;
    }
    .contacth1 {
        margin-top: -65px;
    }
    .icon {


        color: #15c19c;
        font-size: 80px;
    }
    h3{
        color: #707891;
        font-size: 3em;
        text-align: center;
    }
    .skillDiv{
        text-align: center;
        width: 20%;
        height: 50%;
        float: left;
    }
    .svg{
        height: 80px;
        filter:
    }
    a{
        text-decoration: none;
        color: #15c19c;
    }

.social{
    color: #fcfcfd;
float: left;
}

    /*#fcfcfd #15c19c*/
